/* #region-commonrule */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 1440px;
    font-family: 'Roboto', sans-serif;
}

:root{
    --color_header: #080B12;
    --color_aside: #000000;
    --color_main: #141922;
    --color_footer: #282828;
    --highlighted_color: #ADFF2F;
    --color_font: #717171;
    --color_user_profile:#808080;
    
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row{
    height: calc(100% - 100px);
}
a[href]{
    text-decoration: none;
    color: var(--color_font);
}

a:hover{
    color: white;
}

img:hover{
    filter: brightness(0.5);
   
    
}
/* #endregion-commonrule */


/* #region-utility */

.img_left{
    width: 30px;
    display: block;
    padding-bottom: 16px;
}

.link{
    color: var(--color_font);
    text-decoration: none;
}
.speciale{
    line-height: 30px;
}

.name_playlist{
    
    text-decoration: none;
    color: var(--color_font);
}

.name_playlist{
    margin: 14px 26px;
}

.name_playlist li{
    padding: 10px 0px;
    list-style: none;
}

.flex{
    display: flex;
}
/* #endregion-utility */

/* #region-aside */

aside{
    width: 220px;
    /* height:calc(100% - 100px); */
    float: left;
    background-color: var(--color_aside);
    position: fixed;
}
    


.logo{
    width: 168px;
    padding: 30px 10px;
}

.first_column_left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -29px;
    column-gap: 2px;
    height: 100px;
    margin-left: 10px;
    
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
    

.first_list_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding-right: 79px;
    color:var(--color_font);
    height: 118px;
    
}

.playlist{
    color: white;
    margin: 23px 17px;
    margin-top: 40px;
}


.fa-plus-square{
 color: #A3A3A3;
 margin-left: 25px;

}

.created_playlist{
    color: white;
    display: inline-block;
    text-decoration: none;
    color: var(--color_font);
    margin-left: 8px;
}

.arrow-download{
    margin: 18px 12px;
    height: 8px;
}
.download{
    width: 20px;
}

.col_left{
    float: left;
}

.col_right{
    float: right;
}

.install{
    margin-left: 19px;
}

.separating{
    border:1px solid var(--color_font);
    width: 200px;
    height: 1px;
    margin: auto;
    
}

.border{
    /* border: 1px solid #ffffff; */
    width: 35px;
    height: 35px;
    background-color: var(--color_user_profile);
    margin: 21px 13px;
    border-radius: 50%;
    position: relative;
    
}
.profile{
    width: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transform: translate(6px, 4px);
}

.name{
    color: white;
    margin-right: 86px;
    margin-top: 28px;
}
.john{
    margin: ;
}

/* #endregion-aside */
    

/* #region-container */
.container{
    
    float: left;
    width: 200px;
    height: calc(100vh - 100px);
    background-color: #141922;
    width: 100vw;
    margin-left: 220px;
    position: fixed;
    overflow:auto;

}

.upgrade{
    width: 100vw;
    height: 79px;
    background-color: var(--color_header);
    position: relative;
    
}

.border_title{
    position: absolute;
    top: 21px;
    right: 248px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}

.title{
    padding: 8px 29px;
}



.listchoice{
    padding-top: 10px;
}

.choice{
    float: left;
    padding: 3px 10px;
    list-style: none;
    
}
.floatnone{
    float: none;
    padding-left: 10px;
}

.loose{
    padding-left: 10px;
}
.menu{
    margin-left:310px;
}

/* #albums */

.container_albums{
    max-width: 1250px;
    margin-left: 30px;
}

.small{
    width: 200px;
    height: 200px;
    margin-right: 5px;
}

.category, .firstalbums{
    color: white;
    margin-top: 20px;
}

.description{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    /* position: fixed; */
}
    
.specification{
    /* display: inline-block; */
    background-color: rgb(94, 167, 100);
    width: 149px;
    height: 75px;
    text-align: center;
    color: white;
    font-size: 20px;
} 

.subtitle{
    width: 149px;
    height: 75px;
    background-color: rgb(152, 59, 175);
    text-align: center;
    color: white;
}


.d-flex{
    display: flex;
}
    
h5{
    margin-top: 10px;
    color: var(--color_font);
}    

.category2{
    margin-top: 100px;
    color: white;
}

p{
    color: var(--color_font)
}

.category3{
    margin-top: 52px;
    color: white;
}
.red{
    width:200px;
    height: 30px;
    background-color: red;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 17px;
}

.circle{
    border-radius: 50%;
}




/* #endregion-container */



/* #region-footer */


footer{
    width: 100%;
    height: 100px;
    background-color: var(--color_footer);
    position: fixed;
    bottom: 0px;
}
    
.col1{
    background-color: red;
    width: calc(100% - 70%);
    height: 100px;
}

.col2{
    width: calc(100% - 30%);
    height: 100px;
    background-color: #ADFF2F;
}

.col3{
    width: calc(100% - 70%);
    height: 100px;
    background-color: darksalmon;
}

.smallscreen{
    width: 25%;
}

.container_column .d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.icons2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 31px;
    color: white;
}

.iconvideo{
    margin-top: 31px;
    margin-left: 35px;
    color: white;
}

/* .border{
    width: 100px;
    background-color: darkviolet;
    height: 5px;
} */

/* #endregion-footer */


.firstalbums{
    position: relative;
}
.disappears{
    position: absolute;
    top: 50px;
    left: 50px;
    transform: translate(286%, 214%);
   visibility: hidden;
}

.disappears:hover{
   
}
    

    
    
    









