/* #region-commonrule */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 1440px;
    font-family: 'Roboto', sans-serif;
}

:root{
    --color_header: #080B12;
    --color_aside: #000000;
    --color_main: #141922;
    --color_footer: #282828;
    --highlighted_color: #ADFF2F;
    --color_font: #717171;
    --color_user_profile:#808080;
    
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row{
    height: calc(100% - 100px);
}
a[href]{
    text-decoration: none;
    color: var(--color_font);
}

a:hover{
    color: white;
}

img:hover{
    filter: brightness(0.5);
   
}
   
   
    







/* #endregion-commonrule */


/* #region-utility */

.img_left{
    width: 30px;
    display: block;
    padding-bottom: 16px;
}

.link{
    color: var(--color_font);
    text-decoration: none;
}
.speciale{
    line-height: 30px;
}

.name_playlist{
    
    text-decoration: none;
    color: var(--color_font);
}

.name_playlist{
    margin: 14px 26px;
}

.name_playlist li{
    padding: 10px 0px;
    list-style: none;
}

.d-flex{
    display: flex;
}
/* #endregion-utility */

/* #region-aside */

aside{
    width: 220px;
    height:calc(100% - 100px);
    float: left;
    background-color: var(--color_aside);
    position: fixed;
    overflow: scroll;
}
    


.logo{
    width: 168px;
    padding: 30px 10px;
}

.first_column_left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -29px;
    column-gap: 2px;
    height: 100px;
    margin-left: 10px;
    
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
    

.first_list_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding-right: 79px;
    color:var(--color_font);
    height: 118px;
    
}

.playlist{
    color: white;
    margin: 23px 17px;
    margin-top: 40px;
}


.fa-plus-square{
 color: #A3A3A3;
 margin-left: 25px;

}

.created_playlist{
    color: white;
    display: inline-block;
    text-decoration: none;
    color: var(--color_font);
    margin-left: 8px;
}

.arrow-download{
    margin: 18px 12px;
    height: 8px;
}
.download{
    width: 20px;
}

.col_left{
    float: left;
}

.col_right{
    float: right;
}

.install{
    margin-left: 19px;
}

.separating{
    border:1px solid var(--color_font);
    width: 200px;
    height: 1px;
    margin: auto;
    
}

.border{
    /* border: 1px solid #ffffff; */
    width: 35px;
    height: 35px;
    background-color: var(--color_user_profile);
    margin: 21px 13px;
    border-radius: 50%;
    position: relative;
    
}
.profile{
    width: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transform: translate(6px, 4px);
}

.name{
    color: white;
    margin-right: 86px;
    margin-top: 28px;
}
.john{
    margin: ;
}

/* #endregion-aside */
    

/* #region-container */
.container{
    
    /* float: left; */
    width: 200px;
    height: calc(100vh - 100px);
    background-color: #141922;
    width: 100vw;
    margin-left: 220px;
    position: fixed;
    overflow:auto;

}

.upgrade{
    width: 100vw;
    height: 79px;
    background-color: var(--color_header);
    position: relative;
    /* position: fixed; */
    
}

.border_title{
    position: absolute;
    top: 21px;
    right: 248px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}

.title{
    padding: 8px 29px;
}



.listchoice{
    padding-top: 10px;
}

.choice{
    float: left;
    padding: 3px 10px;
    list-style: none;
    
}
.floatnone{
    float: none;
    padding-left: 10px;
}

.loose{
    padding-left: 10px;
}
.menu{
    margin-left:310px;
}

/* #albums */

.card{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-right: 5px ;

}

h3{
    width: 100%;
   
}

.container_albums{
    max-width: 1250px;
    margin-left: 30px;
}

.small{
    width: 200px;
    height: 200px;
    margin-right: 5px;
}

.category, .firstalbums{
    color: white;
    margin-top: 20px;
}

.description{
    margin-top: 10px;
    /* margin-left: 32px; */
    text-align: center;
} 

.sub{
    margin-top: 20px;
    /* margin-left: 56px; */
    text-align: center;
}



    
 

.category2{
    margin-top: 100px;
    color: white;
}

p{
    color: var(--color_font)
}

.category3{
    margin-top: 52px;
    color: white;
}


.circle{
    border-radius: 50%;
}

.firstalbums{
    position: relative;
}


/* #endregion-container */



/* #region-footer */


footer{
    width: 100%;
    height: 100px;
    background-color: var(--color_footer);
    position: fixed;
    bottom: 0px;
}
    
.col1{
    /* background-color: red; */
    width: calc(100% - 70%);
    height: 100px;
}

.col2{
    width: calc(100% - 30%);
    height: 100px;
    /* background-color: #ADFF2F; */
}

.col3{
    width: calc(100% - 70%);
    height: 100px;
    /* background-color: darksalmon; */
}

.smallscreen{
    width: 25%;
}

.container_column .d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.icons2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 31px;
    color: white;
    position: relative;
}

.iconvideo{
    margin-top: 31px;
    margin-left: 35px;
    color: white;
    display: flex;
   
    justify-content: space-evenly;
    margin-right: 143px;
}

.progress{
    position: absolute;
    top: 31px;
    width: 632px;
    right: 135px;
}
.progress2{
    position: absolute;
    bottom: 54px;
    left: 1362px;
    width: 126px;
}
.heart i{
    padding: 0px 5px;
}

.timing1{
    position: relative;
    top: 25px;
    right: 522px;
}

.timing2{
    position: relative;
    top: 25px;
    right: 11px;
}

/* #endregion-footer */




/* #region-mediatablet */


/* #tablet */

@media screen and (max-width: 768px){
    .menu{
        margin-left: 0px;
        
    }
    .aside{
        width: 174px;
        overflow-x: hidden;
        position: fixed;
    }
    .container{
        margin-left: 174px;
    }
    
    .floatnone{
        margin-top: 42px;
        margin-left: 280px;
    }
    .border_title{
    position: absolute;
    top: 21px;
    right: 180px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    }
    .small{
    width: 140px;
    height: 140px;
    margin-right: 9px;
    }
    
    .container_albums{
        margin-left: 9px;
    }
    .smallscreen{
    width: 25%;
    margin: 29px 14px;
    }
    .fa-heart{
        padding: 0px 9px;
    }
    .iconvideo{
    margin-top: 62px;
    margin-left: -15px;
    color: white;
    display: flex;
    margin-right: 123px;
    flex-direction: row;
    justify-content: space-between;
    }
    .progress{
    position: absolute;
    top: 31px;
    width: 337px;
    right: 58px;
    }

    .progress2{
    position: absolute;
    bottom: 20px;
    left: 652px;
    width: 114px;
}
    }

    .upgrade{
        position: static;
    }

    .timing1, .timing2{
        display: none;
    }

    



/* #endregion-mediatablet */



/* #region-mediamax-wdth-576px */

@media screen and (max-width: 576px){
    .container{
        max-width: 576px;
    }
    .listchoice{
    margin-top: 10px;
    
    margin-right: 146px;
    }

    .mood{
        margin-top: 17px;
    }
    .loose{
        padding-left: 0px;
    }
    .description{
        margin-left: -24px;
    }

    .sub{
        margin-top: 20px;
        margin-left: -44px;
        text-align: center;
    }

    .cure, .sinister{
        margin-top: 25px;
    }

    .progress{
    width: 153px;
    position: absolute;
    top: 47px;
    width: 153px;
    right: 58px;
        
    }

    .progress2{
    position: absolute;
    bottom: 18px;
    left: 475px;
    width: 91px;
    }
    .iconvideo i{
        padding: 0px 10px;
    }

    .col2{
        margin-left: 36px;
    }
    .col3{
        width: 203px;
    }

     .timing1, .timing2{
        display: none;
    }
}

/* #endregion-mediamax-width-576px */


/* #region-mediamin-width-320px */

@media (min-width: 320px) and (max-width: 575px){
    .first_list_left, .play, .fa-plus-square:before, .fa-square-plus:before,
    .created_playlist, .name_playlist, .link{
        display: none;
    }
    aside{
        width: 60px;
    }
    .container{
        margin-left: 59px;
    }
    .border_title{
    position: absolute;
    top: 21px;
    right: 61px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .col3{
        display: none;
    }
    .progress{
    width: 153px;
    position: absolute;
    top: 35px;
    width: 153px;
    right: 28px;
    }
    
}

/* #endregion-mediamin-width-320px */

    

    
    
    









