/* #region-commonrule */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 1440px;
}

:root{
    --color_header: #080B12;
    --color_aside: #000000;
    --color_main: #141922;
    --color_footer: #282828;
    --highlighted_color: #ADFF2F;
    
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* #endregion-commonrule */



/* #region-header */

header{
    width: calc(100% - 220px);
    height: 100px;
    background-color: red;
    float: left;
    position: relative;
    background-color: var(--color_header);
}

.effect{
    position: absolute;
    top:0px;
    right:0px;
    transform: translate(-11px, 36px);
}
.upgrade{
    border: 2px solid #ffffff;
    border-radius: 25px;
    text-decoration: none;
    padding: 10px 20px;
    color: #ffffff;
}
   
    
   
    



/* #endregion-header */

/* #region-aside */

aside{
    width: 220px;
    height: 750px;
    float: left;
    background-color: var(--color_aside)
}

.logo{
    width: 168px;
    padding: 12px 10px;
}

/* #endregion-aside */

/* #region-footer */

footer{
    width: 100%;
    height: 100px;
    background-color: var(--color_footer);
    position: fixed;
    bottom: 0px;
}

